@model IEnumerable<MvcMusicStore.Models.Genre>
@foreach (var genre in Model)
{
    <li>
        <a href="@Url.Action("Browse", "Store", new { Genre = genre.Name })">
            <i class="fa fa-fw fa fa-suitcase"></i> @genre.Name
        </a>

    </li>
}