@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>A simple music store web application developed by C#, MVC5, and EF6. There are three main parts to the application: shopping, checkout, and administration.</p>
